<div class="checkoutContainer">
    <div class="cartDetails">
        <h2 *ngIf="cartItems.length === 0" >Cart is Empty</h2>
        <app-cart-item *ngFor="let cartItem of cartItems" [item]="cartItem" (removeItem)="deleteItem($event)" (modifyAmount)="alertChange($event)"></app-cart-item>
    </div>
    <div class="payementDetails">
        <app-total [total]="totalSum" ></app-total>
        <app-checkout-form></app-checkout-form>
    </div>

    <h1 class="addMsg" *ngIf="isRemoved" >Item Removed</h1>
</div>