/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.Btn {
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 0.25em;
    border-radius: 2px;
}

.Btn:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
}

.Btn:disabled {
    background-color: grey;
    cursor: not-allowed;
}
.addMsg {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(0, 165, 75, 0.9);
    position: fixed;
    top: 25%;
    left: 43%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 5px 5px rgb(174, 174, 174);
    animation: swing-in-top-bck 0.8s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}


@keyframes swing-in-top-bck {
0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0;
}
100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
}
}