<div class="checkoutFormContainer">
    <form #checkout="ngForm" class="checkoutForm" (ngSubmit)="navigateRoute()" >
        <label>Full Name</label>
        <input type="text" placeholder="5 Characters Minimum" minlength="5" name="name" required [(ngModel)]="name" (ngModelChange)="name = $event" />

        <label>Address</label>
        <input type="text" placeholder="5 Characters Minimum" minlength="5" required name="address" [(ngModel)]="address" (ngModelChange)="address = $event" />

        <label>Card Number</label>
        <input type="number" placeholder="16 Digit Number" minlength="16" required name="card" [(ngModel)]="card" (ngModelChange)="card = $event" />

        <button type="submit" class="Btn checkoutBtn" [disabled]="checkout.invalid" >Check Out</button>
    </form>

    <span *ngIf="checkout.invalid && checkout.touched" >Please, Consider Fields Requirements</span>
    <span *ngIf="isEmptyCart">Please, Add Items to Cart</span>

</div>
